appium-python-client
backports.tarfile
chardet
ctkmessagebox
ctktable
dearpygui
discord.py
docker
eel
faker
fastmask
flask
holehe
importlib-metadata
importlib-resources
jaraco.collections
keyboard
names
names-dataset
opencv-python
pip-chill
platformdirs
plyer
psutil
pure-python-adb
pyautogui
pydrive
pygame
pymeow
pypresence
pysocks
pytesseract
pytest
schedule
tkterm
tkterminal
tomli
webcolors
webdriver-manager
wmi